@import "./fonts.scss";
@import "./sizes.scss";
@import "~bootstrap/scss/bootstrap";


html, body, #app {
  @extend .bnq.acumin;
  @extend .bnq.font-md;
  display: flex;
  flex-direction: column;
  flex: 1;
}

hr {
  width: 100%;
}

@media (max-width: sm) {
  body{font-size: 10px;}
}

@media (min-width: sm) {
  body{font-size: 40px;}
}

#app {
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

.bnq.form-input-md {
  width: 15vw;
}

.container-fluid {
  padding-bottom: 100px;
}