@font-face {
  font-family: 'stoner Regular';
  src: local('stoner Regular'), url('./fonts/stoner.woff') format('woff');
  }

@font-face {
  font-family: 'elegant Ar';
  src: local('elegant Ar'), url('./fonts/Elegant-ar.ttf') format('ttf');
}

@import url("https://use.typekit.net/tjr4zbr.css");


.bnq.aileron {
  font-family: aileron, sans-serif;
  font-weight: 400;
  font-style: normal;

  .aileron-thin {
    font-weight: 100;
  }
}

.bnq.stoner {
  font-family: 'stoner Regular';
  font-style: normal;
  font-weight: normal;
}

.bnq.elegant {
  font-family: 'elegant-ar', sans-serif;
  font-style: normal;
  font-weight: normal;
}