@import "./fonts.scss";
@import "./sizes.scss";
@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./transition.scss";

/*=============================================================================
  Main css for some specific elements, and for some main layout features
  =============================================================================*/

html, body, #app {
  @extend .bnq.aileron;
  @extend .bnq.font-md;
  color: $dark-grey;

  display: flex;
  flex-direction: column;
  flex: 1;
}

hr {
  width: 100%;
}

/* This is to make the footer stick at the bottom while maintaining full height of the viewport. */
#app {
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

.container-fluid {
  padding-bottom: 80px;
}
/*******/

.active-link {
  color: $dark-grey;
  // text-decoration: none;
  // @extend .aileron-thin;
}

// .active-link:hover {
//   color: $galapagos-green;
// }

.link {
  color: $dark-grey;
  @extend .aileron-thin;
}

.link:hover {
  color: $galapagos-green;
}

.clickable {
  cursor: pointer;
  text-decoration: none;
}

.clickable:hover {
  color: $galapagos-green;
  text-decoration: none;
}

/*============================================================================*/


/*=============================================================================
  bootstrap classes
  =============================================================================*/

/* Changed colors of the navbar items */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $galapagos-green;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark-grey;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: $galapagos-green;
}
/*******/

/* add class related to table */
.thead-tr-class {
  @extend .text-center;
  th {
    border-top: none !important;
    border-bottom: none !important;
    @extend .bnq.font-xs;
    @extend .bnq.elegant;
  }
}

.tbody-tr-class {
  @extend .text-center;
  td {
    @extend .align-middle;
    @extend .aileron-thin;
  }
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $dark-grey;
}
/*******/

/*=============================================================================*/


/*=============================================================================
  classes and styles for form inputs and buttons
  =============================================================================*/

input:focus, textarea:focus {
  box-shadow: 0 0 5px $galapagos-green !important;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $galapagos-green !important;
}

.form-control {
  height: 3rem;
  border-radius: 0px;
  border: 1px solid black;
}

.bnq.button-md {
  width: 200px;

}

/*=============================================================================*/