@import "./fonts.scss";
@import "./sizes.scss";
@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./transition.scss";

/*=============================================================================
  Main css for some specific elements, and for some main layout features
  =============================================================================*/

html, body, #app {
  @extend .bnq.rubik;
  @extend .bnq.font-md;
  color: $dark-grey;

  display: flex;
  flex-direction: column;
  flex: 1;
}

/* this is to show the scrollbar on small screens like the iphone s5*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $galapagos-green;
  box-shadow: 0 0 1px $galapagos-green;
}
/*******/

hr {
  width: 100%;
}

/* This is to make the footer stick at the bottom while maintaining full height of the viewport. */
#app {
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

.container-fluid {
  padding-bottom: 80px;
}
/*******/

.active-link {
  color: $dark-grey;
  // text-decoration: none;
  // @extend .aileron-thin;
}

// .active-link:hover {
//   color: $galapagos-green;
// }

.link {
  color: $dark-grey;
  @extend .rubik-light;
}

.link:hover {
  color: $galapagos-green;
}

.clickable {
  cursor: pointer;
  text-decoration: none;
}

.clickable:hover {
  color: $galapagos-green;
  text-decoration: none;
}

.color-box {
  width: 2.5rem;
  height: 1.8rem;
}

/*============================================================================*/


/*=============================================================================
  bootstrap classes
  =============================================================================*/

/* Changed colors of the navbar items */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $galapagos-green;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark-grey;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: $galapagos-green;
}
/*******/

/* add class related to table */
.thead-tr-class {
  @extend .text-center;
  th {
    border-top: none !important;
    border-bottom: none !important;
    @extend .bnq.font-xs;
    @extend .bnq.rubik;
  }
}

.tbody-tr-class {
  @extend .text-center;
  td {
    @extend .align-middle;
    @extend .rubik-light;
  }
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $dark-grey;
}

.row-selected {
  background-color: $galapagos-light-green;
}

.no-header {
  display:none !important;
}

.no-footer {
  display: none !important;
}
/*******/

/* add class related to tabs */
.nav-wrapper-class {
  background-color: $galapagos-light-green;
  outline: none;;
  border-bottom: 0.6px solid $dark-grey !important;
}

.title-link-class {
  color: $galapagos-green;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-top: 0.6px solid $dark-grey;
  border-left: 0.6px solid $dark-grey;
  border-right: 0.6px solid $dark-grey;
}

.title-link-class:hover {
  color: $galapagos-green;
}
/*******/

/* add class related to card */
.card-header {
  border-color: $dark-grey !important;
}

.card {
  border: 0.6px solid $dark-grey;
  border-top: 0.8px solid $dark-grey;
}
/*******/

/*=============================================================================*/


/*=============================================================================
  classes and styles for form inputs and buttons
  =============================================================================*/

input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px $galapagos-green !important;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $galapagos-green !important;
}

.form-control {
  height: 3rem;
  border-radius: 0px;
  border: 1px solid $dark-grey;
}

.bnq.button-md {
  width: 200px;

}

/*=============================================================================*/