@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


@include media-breakpoint-up(xs) {
  .bnq.font-xxl {
    font-size: 10vw;
  }

  .bnq.font-xl {
    font-size: 1.2rem;
  }

  .bnq.font-l {
    font-size: 1rem;
  }

  .bnq.font-md {
    font-size: 0.7rem;
  }

  .bnq.font-xs {
    font-size: 0.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .bnq.font-xxl {
    font-size: 10vw;
  }

  .bnq.font-xl {
    font-size: 1.3rem;
  }

  .bnq.font-l {
    font-size: 1.1rem;
  }

  .bnq.font-md {
    font-size: 0.77rem;
  }

  .bnq.font-xs {
    font-size: 0.55rem;
  }
}

@include media-breakpoint-up(md) {
  .bnq.font-xxl {
    font-size: 10vw;
  }

  .bnq.font-xl {
    font-size: 1.45rem;
  }

  .bnq.font-l {
    font-size: 1.2rem;
  }

  .bnq.font-md {
    font-size: 0.84rem;
  }

  .bnq.font-xs {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(lg) {
  .bnq.font-xxl {
    font-size: 10vw;
  }

  .bnq.font-xl {
    font-size: 1.75rem;
  }

  .bnq.font-l {
    font-size: 1.5rem;
  }

  .bnq.font-md {
    font-size: 1.05rem;
  }

  .bnq.font-xs {
    font-size: 0.75rem;
  }
}