@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


@include media-breakpoint-up(xs) {
  .bnq.font-xl {
    font-size: 10vw;
  }

  .bnq.font-l {
    font-size: 1rem;
  }

  .bnq.font-md {
    font-size: 0.7rem;
  }

  .bnq.font-xs {
    font-size: 0.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .bnq.font-xl {
    font-size: 10vw;
  }

  .bnq.font-l {
    font-size: 1.1rem;
  }

  .bnq.font-md {
    font-size: 0.8rem;
  }

  .bnq.font-xs {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(md) {
.bnq.font-xl {
  font-size: 10vw;
}

.bnq.font-l {
  font-size: 1.2rem;
}

.bnq.font-md {
  font-size: 0.9rem;
}

.bnq.font-xs {
  font-size: 0.7rem;
}
}

@include media-breakpoint-up(lg) {
.bnq.font-xl {
  font-size: 10vw;
}

.bnq.font-l {
  font-size: 1.5rem;
}

.bnq.font-md {
  font-size: 1.2rem;
}

.bnq.font-xs {
  font-size: 0.9rem;
}
}